@use "../abstracts/all" as abstracts;

._reset {
  .content-form {
    form {
      padding: 3 * abstracts.$padding-form;
      @media (max-width: 600px) {
        padding: abstracts.$padding-form;
      }

      .btn {
        margin-bottom: 0;
      }

      @media (min-width: 768px) {
        max-width: 555px;
        margin: 0 auto;
      }
    }

    #alerte_reset {
      margin-top: abstracts.$padding-form
    }
  }

}
